@charset "UTF-8";

.wrap-all {
	width: 90%;
	color: #444;
	margin: 3vw auto 10vw auto;
}

.info {
	text-align: center;
}

.info img {
	padding: 12vw 0 5vw 0;
	width: 40%;
}

.info h2 {
	font-family: 'GmarketSansBold';
	font-size: 8vw;
	color: #444;
}

.info h4 {
	font-family: 'GmarketSansLight';
	font-size: 3vw;
	color: #777;
}

.menu_item {
	margin: 7vw 0;
	text-align: center;
}

.menu_item input {
	border: 2px solid #e8a761;
	border-radius: 10px;
	background-color: #e8a761;
	font-family: 'GmarketSansBold';
	font-size: 6vw;
	color: white;
	width: 60%;
	padding: 2vw;
}

.menu_item input:hover {
	background-color: #e8a761;
	color: white;
	border-color: #e8a761;
}

/* 576px 이상 tablet */
@media ( min-width : 576px) {
	.info img {
		padding: 2vw 0 5vw 0;
		width: 24%;
	}
	.info h2 {
		font-size: 8vw;
	}
	.menu_item {
		margin: 6vw 0;
	}
	.menu_item input {
		font-size: 5vw;
		width: 50%;
		padding: 2vw;
	}
}

/* 992px 이상 PC */
@media ( min-width : 992px) {
	.wrap-all {
		width: 890px;
		margin: 0 auto;
	}
	.info {
		margin: 50px 0;
		border: 0;
		border-radius: 5px;
		display: flex;
		justify-content: center;
	}
	.info h2 { font-size: 56px; }
	.profile_text {
		margin: auto 0 auto 100px;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		height: 100px;
	}
	.profile_text h2 {
		font-size: 60px;
		text-align: left;
	}
	.profile_text h4 {
		font-size: 16px;
	}
	
	.menu_item {
		margin: 30px 0;
	}
	
	.menu_item input {
		font-size: 40px;
		padding: 20px;
		width: 50%;
		color: white;
	}
	
	
	
}