@charset "UTF-8";

.biggerCategory {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 5vw auto 0 auto;
}
.bigChoice {
	background-color: #e8a761;
	border-color: #e8a761 !important;
	color: white !important;
}
.biggerCategory div {
	font-family:'GmarketSansBold';
	width: 30vw;
	padding: 1vw;
	margin: 1vw;
	text-align: center;
	font-size: 5vw;
	color: #444;
	padding-top: 2%;
	border: 0.3vw solid #444;
	cursor: pointer;
}
.biggerCategory div:hover {
	background-color: #e8a761;
	color: white;
	border-color: #e8a761;
}

.smallCategory {
	width: 90%;
	margin: 1vw auto;
	overflow: auto;
	/* safari scrolling */
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}
.smallCategory::-webkit-scrollbar {
	display: none; 
}
.smallPlay {
	display: flex;
	width: 100vw;
	height: 10%;
	margin: 0 auto;
	overflow-x: auto;
}
.smallPlay div {
	font-family:'GmarketSansMedium';
	padding: 2vw 4vw 6vw 4vw;
	margin: 3vw 1vw;
	text-align: center;
	height: 1vw;
	font-size: 4vw;
	color: #444;
	border: 0.3vw solid #444;
	border-radius: 10vw;
	cursor: pointer;
}
.smallPlay div:hover {
	background-color: #e8a761;
	color: white;
	border-color: #e8a761;
}

.cardview {
	width: 77vw;
	padding: 5vw;
	margin: 4vw auto;
	border: 0.3vw solid #444;
	border-radius: 2vw;
}
.noRes {
	font-family: 'GmarketSansLight';
	color: #444;
	font-size: 6vw;
	margin: 28vw auto;
	text-align: center;
}
.cardview h4 {
	font-family: 'GmarketSansMedium';
	text-align: left;
	font-size: 4vw;
	color: #444;
	margin-bottom: 3vw;
}
.cardContainer {
	display: flex;flex-wrap: wrap;
	justify-content: space-between;
}
.card {
	box-shadow: 0 2vw 2vw 0 rgba(0, 0, 0, 0.2);
	width: 35vw;
	margin: 3vw 1vw;
}
.card:hover {
	transition: 0.7s;
	background: #f1cba0;
}
.card img { 
	width: 35vw;
	height: 35vw;
	object-fit: cover; 
}
.texts {
	display: flex;
	padding-top: 1vw;
	font-family: 'GmarketSansLight';
	color: #777;
	margin: 0 auto;
	font-size: 2.7vw;
	text-align: center;
}
.text_container { 
	padding: 2vw 1vw;
	height: 20vw;
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
}
.text_container h4 {
	font-family: 'GmarketSansMedium';
	color: #444;
	text-align: center;
	font-size: 4vw;
    margin: 0;
}
.shop_info { 
	display: flex;
	justify-content: space-evenly;
	width: 32vw;
	margin-top: 2vw;
}
.shop_info img {
	width: 3vw;
	height: 3vw;
	object-fit: contain;
}
.shop_info h5 {
	font-family: 'GmarketSansLight';
	color: #444;
	font-size: 2vw;
	margin: auto 0;
}

/* 576px 이상 tablet */
@media (min-width: 576px){
	.biggerCategory div {
		border: 0.3vw solid #444;
	}
	.smallPlay {
		width: 89vw;
	}
	.smallPlay div {
		border: 0.3vw solid #444;
		border-radius: 10vw;
		padding: 2vw 3vw 5.5vw 3vw;
	}
	.cardview {
		border: 0.3vw solid #444;
		border-radius: 1vw;
	}
	.noRes {
		margin: 36vw auto;
		font-size: 5vw;
	}
}

/* 992px 이상 PC */
@media (min-width: 992px) {
	.wrap-all {
		width: 1010px;
		margin: 0 auto;
	}
	.biggerCategory {
		margin: 30px auto 0 auto;
		width: 900px;
	}
	.biggerCategory div {
		border: 1px solid #444;
		font-size: 32px;
		width: 100%;
		padding: 10px;
		margin: 10px;
	}
	.smallCategory {
		width: 896px;
		margin: 15px auto;
	}
	.smallPlay {
		width: 100%;
	}
	.smallPlay div {
		border: 1px solid #444;
		border-radius: 30px; 
		padding: 10px 10px 21px 10px;
		margin: 0 7px;
		height: 10px;
		font-size: 20px;
	}
	.cardview {
		display: block;
		width: 770px;
		padding: 24px 56px 56px 56px;
		margin: 30px auto 100px auto;
		border: 1px solid #444;
		border-radius: 10px;
	}
	.noRes {
		font-size: 36px;
		margin: 250px auto;
	}
	.cardview h4 { font-size: 24px; margin-bottom: 20px; }
	.cardContainer { display: block; }
	.card {
		display: flex;
		width: 720px;
		height: 100%;
		margin: 20px auto;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
		border: 1px solid #444;
		border-radius: 10px;
		padding: 24px;
		cursor: pointer;
	}
	.card img {
		width: 220px;
		height: 220px;
		margin: auto 0;
		border-radius: 10px;
	}
	.text_container {
		width: 480px;
		height: 220px;
		padding: 0 0 0 24px;
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
	}
	.text_container img { border-radius: 0; }
	.text_container h4 {
		font-size: 42px;
		text-align: left;
	}
	.texts {
		display: flex;
		justify-content: flex-start;
		width: 480px;
		padding: 0;
		font-size: 24px;
		margin-top: 2px;
	}
	.texts p {
		font-size: 21px;
		text-align: left;
		padding: 0;
	}
	.shop_info {
		margin: 85px 0 0 0px;
		display: flex;
		justify-content: space-between;
		width: 240px;
	}
	.shop_info h5 {
		font-family: 'GmarketSansLight';
		font-size: 18px;
		color: #444;
	}
	.shop_info img {
		width: 25px;
		height: 25px;
		object-fit: contain;
	}
}



