@charset "UTF-8";

/* 웹 폰트 */
@font-face {
	font-family:'GmarketSansBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'GmarketSansLight';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 초기화 */
* { margin: 0; padding: 0; }
*:focus { outline: none; }
li { list-style: none; }
a { text-decoration: none; color: #444; }
img { border: none; vertical-align: top; }
