@charset "UTF-8";

.main_header {
	font-family: 'GmarketSansBold';
	display: flex;
	justify-content: space-between;
	width: 85%;
	margin: 3vw auto;
}

.top_menu {
	margin: auto 0;
}

.top_menu img {
	width: 7vw;
}

.top_title {
	display: flex;
}

.top_title img {
	margin: auto 0;
	width: 24vw;
}

.top_search {
	margin: auto 0;
}

.top_search img {
	width: 8vw;
}

.main_navi {
	display: none;
}

.mobile_menu a {
	color: #444;
}
.modal { display: none; }

/* 576px 이상 */
@media ( min-width : 576px) {
}

/* 992px 이상 PC */
@media ( min-width : 992px) {
	.main_header {
		width: 890px;
		height: 100px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	.top_menu {
		display: none;
	}
	.top_search {
		display: none;
	}
	.top_title {
		font-size: 30px;
		margin: auto 0;
		display: flex;
		width: 400px;
	}
	.top_title img {
		width: 190px;
	}
	.main_navi {
		display: block;
		width: 430px;
		margin: auto 0;
		font-size: 25px;
		color: #444;
	}
	.navi_wrap {
		display: flex;
		justify-content: space-between;
	}
	.navi_wrap a:hover {
		color: #e8a761;
	}
	.modal {
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.modal-content {
		background-color: white;
		margin: 120px auto;
		padding: 25px;
		border: 1.5px solid #444;
		border-radius: 20px;
		width: 700px;
		height: 400px;
	}
	.modal-content h2 {
		text-align: center;
		font-size: 52px;
		color: #e8a761;
	}
	.modalIn {
		text-align: center;
		height: 350px;
	}
	.userInfo_container {
		display: flex;
		justify-content: center;
		width: 600px;
		margin: 15px auto 0 auto;
	}
	.userInfo {
		display: flex;
		flex-flow: column;
		margin: 10px;
	}
	.userInfo input {
		width: 380px;
		margin: 10px auto;
		font-size: 21px;
		padding: 5px 0 6px 10px;
		border: 1px solid #444;
		border-radius: 5px;
		font-family: 'GmarketSansLight';
	}
	.loginBtn {
		margin: auto 0;
		border: 1px solid #444;
		background-color: #e8a761;
		color: white;
		padding: 34px 16px;
		font-size: 21px;
		margin-right: 10px;
		border-radius: 5px;
	}
	.socialLogin {
		margin-top: 20px;
	}
	.socialLogin img {
		width: 400px;
		margin: 10px;
	}
	.close {
		font-family: 'GmarketSansLight';
		color: #444;
		float: right;
		font-size: 36px;
		font-weight: bold;
	}
	.close:hover, .close:focus {
		color: #e8a761;
		text-decoration: none;
		cursor: pointer;
	}
}