<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mw_database">

	<select id="totalCount" resultType="int">
		SELECT count(*) 
		FROM mw_database.mw_stores;
	</select>

	<select id="adminList" parameterType="Map" resultType="svo">
		SELECT *
		FROM (
			SELECT 	@rownum:=@rownum+1 r_num,
					A.*
			FROM 	mw_database.mw_stores A,
					(SELECT @ROWNUM := 0) R
			WHERE 	1=1
			ORDER BY s_name DESC
		) list
		WHERE r_num BETWEEN #{begin} AND #{end}
	</select>

	<insert id="adminWrite" parameterType="svo">
		INSERT INTO
		mw_database.mw_stores
		VALUES(s_idx, #{s_name}, #{s_category}, #{s_sub}, #{s_img}, #{s_hashtag}, #{s_location}, #{s_lat}, #{s_lng}, #{s_tel}, #{s_hour}, #{s_menu}, 0, 0, 0)
	</insert>

	<select id="search" parameterType="String" resultType="svo">
		SELECT *
		FROM mw_database.mw_stores
		WHERE (s_name LIKE CONCAT('%', #{keyWord}, '%')
				OR s_sub LIKE CONCAT('%', #{keyWord}, '%')
				OR s_hashtag LIKE CONCAT('%', #{keyWord}, '%')
				OR s_menu LIKE CONCAT('%', #{keyWord}, '%'))
	</select>

	<select id="storeInfo" parameterType="String" resultType="svo">
		SELECT *
		FROM mw_database.mw_stores
		WHERE s_idx = #{s_idx}
	</select>

</mapper>




